<a href="https://colab.research.google.com/github/jburchfield76/datasharing/blob/master/Kaggle_SG_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv("sgdata.csv")

In [7]:
df.head()    #used 'view recommended plots' for plots

,ID,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
0,100000001,0,single,67,university,124670,skilled employee / official,2
1,100000002,1,non-single (divorced / separated / married / w...,22,high school,150773,skilled employee / official,2
2,100000003,0,single,49,high school,89210,unemployed / unskilled,0
3,100000004,0,single,45,high school,171565,skilled employee / official,1
4,100000005,0,single,53,high school,149031,skilled employee / official,1

In [8]:
df.describe()

                 ID          Sex          Age         Income  Settlement size
count  2.000000e+03  2000.000000  2000.000000    2000.000000      2000.000000
mean   1.000010e+08     0.457000    35.909000  120954.419000         0.739000
std    5.774946e+02     0.498272    11.719402   38108.824679         0.812533
min    1.000000e+08     0.000000    18.000000   35832.000000         0.000000
25%    1.000005e+08     0.000000    27.000000   97663.250000         0.000000
50%    1.000010e+08     0.000000    33.000000  115548.500000         1.000000
75%    1.000015e+08     1.000000    42.000000  138072.250000         1.000000
max    1.000020e+08     1.000000    76.000000  309364.000000         2.000000

In [10]:
df.shape

(2000, 8)

In [11]:
df.columns

Index(['ID', 'Sex', 'Marital status', 'Age', 'Education', 'Income',
       'Occupation', 'Settlement size'],
      dtype='object')

In [12]:
df.tail()

,ID,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
1995,100001996,1,single,47,high school,123525,unemployed / unskilled,0
1996,100001997,1,non-single (divorced / separated / married / w...,27,high school,117744,skilled employee / official,0
1997,100001998,0,single,31,other / unknown,86400,unemployed / unskilled,0
1998,100001999,1,non-single (divorced / separated / married / w...,24,high school,97968,unemployed / unskilled,0
1999,100002000,0,single,25,other / unknown,68416,unemployed / unskilled,0

In [14]:
df.loc[800]

ID                                   100000801
Sex                                          0
Marital status                          single
Age                                         54
Education                          high school
Income                                  118408
Occupation         skilled employee / official
Settlement size                              2
Name: 800, dtype: object

In [18]:
filtered_rows = df[df['ID'] == 100000801]

print(filtered_rows)

            ID  Sex Marital status  Age    Education  Income  \
800  100000801    0         single   54  high school  118408

                      Occupation  Settlement size
800  skilled employee / official                2

In [19]:
filtered_rows = df[df['ID'] == 100001996]

print(filtered_rows)

             ID  Sex Marital status  Age    Education  Income  \
1995  100001996    1         single   47  high school  123525

                  Occupation  Settlement size
1995  unemployed / unskilled                0