<a href="https://colab.research.google.com/github/jburchfield76/datasharing/blob/master/Pandas_Basic_Commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#create a series from a list
data = [1,2,3,4,5]
s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
print(s[2])    #access the element with label 2

3

In [3]:
print(s.iloc[3])    #access the element at position 3

4

In [4]:
print(s[1:4])    #access a range of elements by label

1    2
2    3
3    4
dtype: int64

In [6]:
#create a data frame from a dictionary
data = {'Name':['John','Jane','Jack','Jill'],
        'Age':[20,21,22,23],
        'City':['Chicago','Houston','Athens','Miami']}
df = pd.DataFrame(data)
print(df)

   Name  Age     City
0  John   20  Chicago
1  Jane   21  Houston
2  Jack   22   Athens
3  Jill   23    Miami

In [7]:
print(df['Name']) #specify a column and print

0    John
1    Jane
2    Jack
3    Jill
Name: Name, dtype: object

In [8]:
print(df.iloc[2])    #access the third row by position

Name      Jack
Age         22
City    Athens
Name: 2, dtype: object

In [9]:
print(df.loc[1])    #access the second row by label

Name       Jane
Age          21
City    Houston
Name: 1, dtype: object

In [11]:
print(df[['Name', 'Age']])    #select specific columns

   Name  Age
0  John   20
1  Jane   21
2  Jack   22
3  Jill   23

In [12]:
print(df[1:3])    #select specific rows

   Name  Age     City
1  Jane   21  Houston
2  Jack   22   Athens